## 기본 자료구조

### list

In [1]:
numbers = [1, 3, 5, 7, 9]

In [2]:
values = [1, 2.0, "hello", "world", ["a", "b", "c"]]

In [3]:
numbers[0]

1

In [4]:
numbers[4]

9

In [5]:
len(numbers)

5

In [8]:
numbers[len(numbers)-1]

9

In [9]:
numbers[-1]

9

In [11]:
numbers[10]  # IndexError Exception

IndexError: list index out of range

In [13]:
# Change Value
numbers[0] = 100

In [14]:
print(numbers)

[100, 3, 5, 7, 9]

In [15]:
numbers[5] = 200

IndexError: list assignment index out of range

In [16]:
numbers.append(200)

In [17]:
numbers

[100, 3, 5, 7, 9, 200]

In [18]:
numbers.insert(1, 300)
numbers

[100, 300, 3, 5, 7, 9, 200]

In [19]:
import random

In [20]:
random.randint(1, 45)

40

### Quiz

로또 번호 뽑기. `1이상 45이하` 범위에서 랜덤한 6개의 값으로 구성된 리스트를 만들어보세요.

In [31]:
lotto_numbers = []

for i in range(6):
    value = random.randint(1, 45)
    if value not in lotto_numbers:
        lotto_numbers.append(value)

lotto_numbers

[43, 14, 8, 42, 24, 10]

In [33]:
lotto_numbers = []

while True:
    value = random.randint(1, 45)
    if value not in lotto_numbers:
        lotto_numbers.append(value)
    if len(lotto_numbers) == 6:
        break

lotto_numbers

[4, 22, 28, 25, 19, 45]

In [34]:
numbers = [1, 3, 5, 7, 5]
numbers[0] = 10
numbers.append(9)
numbers

[10, 3, 5, 7, 5, 9]

In [35]:
numbers.pop(3)

7

In [36]:
numbers

[10, 3, 5, 5, 9]

In [37]:
numbers.remove(5)
numbers

[10, 3, 5, 9]

In [38]:
numbers.remove(5)
numbers

[10, 3, 9]

In [40]:
numbers.remove(5)
numbers

ValueError: list.remove(x): x not in list

### slice

In [41]:
message = "hello world"

In [42]:
message[0]

'h'

In [43]:
message[1]  # index

'e'

In [44]:
message[1:]  # slice

'ello world'

In [45]:
message[1:-1]

'ello worl'

In [48]:
message[1:-1:2]

'el ol'

In [49]:
message[-1:1]

''

In [50]:
message[-1:1:-1]

'dlrow oll'

In [51]:
message[::-1]

'dlrow olleh'

In [52]:
"hello" + "world"

'helloworld'

In [53]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

### list comprehension

```c
void swap(int *a, int *b) {
    int temp;
    temp = *a;
    *a = *b;
    *b = temp;
}
```

In [74]:
x = 1
y = 2

In [75]:
# swap
x, y = y, x

In [77]:
x

2

In [79]:
y

1

In [80]:
numbers = [1, 2, 3, 4]

In [81]:
v1 = numbers[0]
v2 = numbers[1]
v3 = numbers[2]
v4 = numbers[3]

In [97]:
v1, v2, v3, v4 = numbers

In [100]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

v1, v2, v3, v4 = numbers[-4:]  # unpacking

In [83]:
numbers1 = [1, 3, 5, 7]
numbers2 = [2, 4, 6, 8]
numbers3 = [3, 13, 23, 33]

In [84]:
result = []
for i in range(len(numbers1)):
    result.append(numbers1[i] + numbers2[i])
result

[3, 7, 11, 15]

In [72]:
for (i, j) in zip(numbers1, numbers2):
    print(i, j)

1 2
3 4
5 6
7 8

In [85]:
for (i, j, k) in zip(numbers1, numbers2, numbers3):
    print(i, j, k)

1 2 3
3 4 13
5 6 23
7 8 33

In [86]:
result = []
for (i, j, k) in zip(numbers1, numbers2, numbers3):
    result.append(i + j + k)
result

[6, 20, 34, 48]

In [87]:
[i + j + k
 for (i, j, k) in zip(numbers1, numbers2, numbers3)]

[6, 20, 34, 48]

### tuple

In [88]:
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [89]:
(1,)

(1,)

In [90]:
(1)

1

In [91]:
for i in (1, 2, 3, 4, 5, 6, 7, 8, 9, 10):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [96]:
for i in (1,):
    print(i)

1

## 네이버 웹툰, 고수

필요한 라이브러리 설치

```
pip3 install requests beautifulsoup4
```

In [67]:
import os
import requests
from bs4 import BeautifulSoup

comic_url = 'https://comic.naver.com/webtoon/detail.nhn?titleId=662774&no=142&weekday=wed'

In [ ]:
res = requests.get(comic_url)
html = res.text
soup = BeautifulSoup(html, 'html.parser')

image_url_list = []

for tag in soup.select('#comic_view_area img'):
    try:
        image_url_list.append(tag['src'])
    except KeyError:
        pass
        
image_url_list

In [ ]:
for image_url in image_url_list:
    res = requests.get(image_url, headers={'Referer': comic_url})
    image_data = res.content
    image_name = os.path.basename(image_url)
    
    print(image_url)
    with open(image_name, 'wb') as f:
        f.write(image_data)