## Connect SSH to Goorm IDE

+ [windows] PuTTy
+ SSH Port : 22 (Well Known Port)

### 한글 설정

시스템 전체의 locale을 변경

```
sudo locale-gen ko_KR.UTF-8
```

`~/.bashrc` 파일에 다음 추가 (nano 혹은 vim 에디터 활용)

```
export LANG=ko_KR.UTF-8
export LC_ALL=ko_KR.UTF-8
```

PuTTy 재접속

## GitHub

Public/Private Key

### Goorm IDE

`ssh-keygen`  명령으로 비밀키/공개키를 만들었고, 공개키를 깃허브에 심었음.

git email/name을 세팅한 적이 없다면

```
git config --global user.name "Chinseok Lee"
git config --global user.email "me@askcompany.kr"
```

프로젝트 디렉토리로 이동해서,

```
git init                     # git 관리 대상으로 지정
git add Day1.ipynb           # git에서 관리할 파일을 지정
git status                   # 현재 현황 보기
git commit -m "커밋 메세지"  # add된 여러 파일들을 커밋
git log                      # 로그 내역 보기
```

github 해당 저장소로 push

```
git remote add origin git@github.com:allieus/python-for-ml.git
git push -u origin master
```

## re (regular expression)

## Email

https://github.com/vinta/awesome-python#email

In [2]:
import envelopes

In [3]:
from getpass import getpass

In [4]:
username = 'allieuslee'
password = getpass('Enter password : ')

Enter password : ········

In [6]:
from envelopes import Envelope, GMailSMTP

envelope = Envelope(
    from_addr=(username + '@naver.com', username),
    to_addr=('me@askcompany.kr', 'Chinseok Lee'),
    subject='SMTP 테스트 메일',
    text_body="메일 내용"
)
# envelope.add_attachment('/Users/bilbo/Pictures/helicopter.jpg')

# Send the envelope using an ad-hoc connection...
envelope.send('smtp.naver.com', login=username,
              password=password, tls=True)

(<envelopes.conn.SMTP at 0x7f4ecd7f14e0>, {})

## Melon Chart Data

csv file url : https://bit.ly/2zQyAbb

In [8]:
chart_csv_url = 'https://gist.githubusercontent.com/allieus/7de81753be54c716cb4a19ebf6852c06/raw/6f59975c4b9aec6cacc7c84edce368d957c670cd/%25E1%2584%2586%25E1%2585%25A6%25E1%2586%25AF%25E1%2584%2585%25E1%2585%25A9%25E1%2586%25AB_top100_utf8.csv'

In [9]:
import requests
res = requests.get(chart_csv_url)
csv_data = res.text  # str

with open("멜론_top100_utf8.csv", "wt", encoding="utf8") as f:
    f.write(csv_data)

In [11]:
import pandas as pd

In [19]:
df = pd.read_csv("멜론_top100_utf8.csv")  # DataFrame
df.index = range(1, 101)
df.index.name = 'rank'
print(df.shape)
df.head()

(100, 5)

,id,album_name,artist_name,like,name
rank,,,,,
1,31131273,SQUARE UP,BLACKPINK,117794,뚜두뚜두 (DDU-DU DDU-DU)
2,31133898,THIS IS US,비투비,79865,너 없인 안 된다
3,31085237,LOVE YOURSELF 轉 `Tear`,방탄소년단,211860,FAKE LOVE
4,31113240,1÷χ=1 (UNDIVIDED),Wanna One (워너원),100398,켜줘 (Light)
5,31113241,1÷χ=1 (UNDIVIDED),Wanna One (워너원) - 트리플포지션,88135,캥거루 (Kangaroo) (Prod. ZICO)

In [18]:
df.tail()

,id,album_name,artist_name,like,name
95,31056799,잊을만하면,Crush,63562,잊을만하면
96,31097928,`The Story of Light` EP.1 - The 6th Album,SHINee (샤이니),22621,안녕 (You & I)
97,31149418,Fun to The World,모모랜드 (MOMOLAND),8500,BAAM
98,8235260,비,폴킴,113103,비
99,30992157,Positive,펜타곤,75451,빛나리

In [28]:
column_names = ['artist_name', 'like']
df[column_names].head()

                   artist_name    like
rank
1                    BLACKPINK  117794
2                          비투비   79865
3                        방탄소년단  211860
4              Wanna One (워너원)  100398
5     Wanna One (워너원) - 트리플포지션   88135

In [29]:
column_names = 'artist_name'
df[column_names].head()

rank
1                   BLACKPINK
2                         비투비
3                       방탄소년단
4             Wanna One (워너원)
5    Wanna One (워너원) - 트리플포지션
Name: artist_name, dtype: object

In [30]:
column_names = ['artist_name']
df[column_names].head()

                   artist_name
rank
1                    BLACKPINK
2                          비투비
3                        방탄소년단
4              Wanna One (워너원)
5     Wanna One (워너원) - 트리플포지션

In [33]:
mask = df['artist_name'] == '방탄소년단'
df[mask]

,id,album_name,artist_name,like,name
rank,,,,,
3,31085237,LOVE YOURSELF 轉 `Tear`,방탄소년단,211860,FAKE LOVE
9,31085238,LOVE YOURSELF 轉 `Tear`,방탄소년단,134930,전하지 못한 진심 (Feat. Steve Aoki)
15,30637982,LOVE YOURSELF 承 `Her`,방탄소년단,304450,DNA
16,31085244,LOVE YOURSELF 轉 `Tear`,방탄소년단,113037,Anpanman
18,31085243,LOVE YOURSELF 轉 `Tear`,방탄소년단,106641,Airplane pt.2
19,30244931,YOU NEVER WALK ALONE,방탄소년단,333876,봄날
21,31085242,LOVE YOURSELF 轉 `Tear`,방탄소년단,109875,Magic Shop
22,31085240,LOVE YOURSELF 轉 `Tear`,방탄소년단,105457,낙원
23,31085241,LOVE YOURSELF 轉 `Tear`,방탄소년단,104916,Love Maze
24,31085239,LOVE YOURSELF 轉 `Tear`,방탄소년단,104839,134340
26,31085245,LOVE YOURSELF 轉 `Tear`,방탄소년단,95450,So What
27,31085236,LOVE YOURSELF 轉 `Tear`,방탄소년단,97169,Intro : Singularity
29,31085246,LOVE YOURSELF 轉 `Tear`,방탄소년단,90980,Outro : Tear
42,31113142,FAKE LOVE (Rocking Vibe Mix),방탄소년단,56373,FAKE LOVE (Rocking Vibe Mix)

In [35]:
df.columns

Index(['id', 'album_name', 'artist_name', 'like', 'name'], dtype='object')

In [38]:
df['like_만단위'] = df['like'] // 10000
print(df.shape)
df.head()

(100, 6)

,id,album_name,artist_name,like,name,like_만단위
rank,,,,,,
1,31131273,SQUARE UP,BLACKPINK,117794,뚜두뚜두 (DDU-DU DDU-DU),11
2,31133898,THIS IS US,비투비,79865,너 없인 안 된다,7
3,31085237,LOVE YOURSELF 轉 `Tear`,방탄소년단,211860,FAKE LOVE,21
4,31113240,1÷χ=1 (UNDIVIDED),Wanna One (워너원),100398,켜줘 (Light),10
5,31113241,1÷χ=1 (UNDIVIDED),Wanna One (워너원) - 트리플포지션,88135,캥거루 (Kangaroo) (Prod. ZICO),8

In [41]:
str(11) + '만'

'11만'

In [45]:
df['like_만단위'] = (df['like'] // 10000).astype(str) + '만'
print(df.shape)
df.head()

(100, 6)

,id,album_name,artist_name,like,name,like_만단위
rank,,,,,,
1,31131273,SQUARE UP,BLACKPINK,117794,뚜두뚜두 (DDU-DU DDU-DU),11만
2,31133898,THIS IS US,비투비,79865,너 없인 안 된다,7만
3,31085237,LOVE YOURSELF 轉 `Tear`,방탄소년단,211860,FAKE LOVE,21만
4,31113240,1÷χ=1 (UNDIVIDED),Wanna One (워너원),100398,켜줘 (Light),10만
5,31113241,1÷χ=1 (UNDIVIDED),Wanna One (워너원) - 트리플포지션,88135,캥거루 (Kangaroo) (Prod. ZICO),8만

## 10 Minutes to Pandas

https://pandas.pydata.org/pandas-docs/stable/10min.html

## Raspberry Pi3 Setup